<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Web Application | Teamplate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"></script>
    <script src="product.js"></script>
</head>
<body class="full-wrapper" ng-app="myApp" ng-controller="myAppController"> 
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img  src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img class="logo-cls" src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li> 
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Magazine</a></li>
                                       
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                           
                            <!-- Search Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li class="mr-15">
                                        <div class="nav-search">
                                            <i class="ti-close"  ng-click="resetFn()" ng-show="searchText"></i>
                                            <i class="ti-search" ng-click="searchFn()"></i>
                                            <input type='text' ng-model='searchText' placeholder="Search" />
                                        </div>
                                    </li>
                                    <li>
                                        <i class="ti-shopping-cart"></i>
                                    </li>
                                    <li><span>Login</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!--? Hero Area Start-->
        <div class="container-fluid">
            <div class="slider-area">
                <!-- Mobile Device Show Menu-->
                <div class="header-right2 d-flex align-items-center">
                 
                    <!-- Search Box -->
                    <div class="search d-block d-md-none" >
                        <ul class="d-flex align-items-center">
                            <li class="mr-15">
                                <div class="nav-search search-switch">
                                    <i class="ti-search"  ng-click="resetFn()"></i>
                                    <i class="ti-search"  ng-click="searchFn()"></i>
                                    <input type='text' ng-model='searchText' placeholder="Search"/>
                                </div>
                            </li>
                            <li>
                                <i class="ti-shopping-cart"></i>
                            </li>
                            <li><span>Login</span></li>
                        </ul>
                    </div>
                </div>
                <!-- /End mobile  Menu-->
            </div>
        </div>
        <!-- End Hero -->
     
</div>
<!-- Popular Items End -->
<div class="new-arrival">
    <div class="container">
        <div class="row left-filter">
            <div>
                <h4>Filter By</h4>
                <div class="pt-10 dropdown">
                    <button class="filter-dd dropdown-toggle" style="color: black;
                    border: none;
                    background-color: white;" type="button" data-toggle="dropdown">Collection
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="filter-li" ng-click="filterFn('Coombes')">Coombes</a></li>
                      <li><a href="#" class="filter-li" ng-click="filterFn('Keeve Set')">Keeve Set</a></li>
                      <li><a href="#" class="filter-li" ng-click="filterFn('Momo')">Momo</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="filter-dd dropdown-toggle" style="color: black;
                    border: none;
                    background-color: white;" type="button" data-toggle="dropdown">Color
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="filter-li">Red</a></li>
                      <li><a href="#" class="filter-li">White</a></li>
                      <li><a href="#" class="filter-li">Green</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="filter-dd dropdown-toggle" style="color: black;
                    border: none;
                    background-color: white;" type="button" data-toggle="dropdown">Category
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="filter-li">Sofa</a></li>
                      <li><a href="#" class="filter-li">Table</a></li>
                      <li><a href="#" class="filter-li">Book shelves</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8" ng-repeat="data in products | filter:searchText" ng-show="!nodata">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="popular-img">
                        <img ng-src="{{data.images}}" alt="" class="product-img">
                        <div class="favorit-items">
                            <!-- <span class="flaticon-heart"></span> -->
                            <img src="assets/img/gallery/favorit-card.png" alt="">
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">{{data.product_name}}</a></h3>
                        <div class="rating mb-10">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>{{data.type}}</span>
                        <span>{{data.price}}</span>
                    </div>
                </div>
            </div>
            <div ng-show="nodata">
                <h4>No Data Found.</h4>
            </div>
            
        </div>
        <div class="row">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
              </div>
        </div>
</div>

</div>
</div>
<!--? Services Area End -->
</main>

<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>
<script src="./assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>
<script src="./assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./assets/js/jquery.counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>
</html>