.product-img{
  min-height: 200px;
  max-height: 200px;
}
.left-filter{
  float:left;
  margin-right:20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.filterdd{
  color: black;
  border: none;
  background-color: white;
}
.filter-li{
  color:#635c5c;
}
.buynow-btn{
  background-color: #000;
  color: white;
}
.logo-cls{
  height:50px;
  width:50px;
}
.pt-10{
  padding-top:10px;
}